*{
	margin: 0%;
	font-family: Helvetica;
}

/* Esto es para el titulo */
h1 {
	padding-top: 5%;
	padding-bottom: 10%;
	text-align: center; 
	background-image: url("https://4.bp.blogspot.com/-jDcqEFr898k/XBAeeuO_B3I/AAAAAAAAAEM/ugCkZsDFoN8_HGj34Mcs6O61GvNDzcKaACLcBGAs/s1600/phpCode.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
    color: lightgreen;
    text-shadow: 2px 2px #ff0000;
    text-decoration: underline;
    text-decoration-color: blue;
}

h2 {
	padding-top: 1%;
	padding-left: 1%;
}

form {
	padding-top: 2%;
	padding-left: 1%;
	padding-bottom: 20%;	
}

p, span {
	padding-left: 1%;	
	padding-right: 5%;
	padding-bottom: 1%;
}

.input {
    padding: 1%;
}

.us {
	padding-left: 1%;
}

.form-check-input {
    margin: 1%;
}

.errorMsg {
	color: red;
}

