<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TDPG - Tareas de Progra Gratis</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS Files -->
        <link rel="stylesheet" href="./index.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">        
    </head>
    <body>

        <h1>Tareas Gratis de Programación</h1>

        <h2>Sobre nosotros</h2>

        <p>Aquí podrás encontrar tareas de programación</p>

        <h2>Crea perfil</h2>
        <div>
            <span>Para poder usar nuestra página tendrás que crear una cuenta</span>
        </div>

        <!-- inputs -->
        <div>
            <div class="input">
                Nombre: 
                <input type="text" class="form-control" id="name" />
                <span class="errorMsg" id="nameErrorMessage" hidden>Por favor ingrese su nombre</span>
            </div>
            <div class="input">
                Apellido: 
                <input type="text" class="form-control" id="lname" />
                <span class="errorMsg" id="lnameErrorMessage" hidden>Por favor ingreses su apellido</span>
            </div>
            <div class="input">
                Correo: 
                <input type="email" class="form-control" id="email" />
                <span class="errorMsg" id="emailErrorMessage" hidden>Por favor de ingresar su correo</span>
            </div>
            <div class="input">
                Contraseña: 
                <input type="password" class="form-control" id="password" />
                <span class="errorMsg" id="passwordErrorMessage" hidden>Por favor de ingresar una contraseña</span>
            </div>
            <div class="input">
                Confirmar contraseña: 
                <input type="password" class="form-control" id="passwordConf" />
                <span class="errorMsg" id="passwordConfErrorMessage" hidden>Por favor de confirmar la contraseña</span>
            </div>

            
            <div class="input">
                <label for="country">País:</label>
                <select class="form-control" id="country">
                    <option val="0">Select a country</option>
                    <option val="mx">México</option>
                    <option val="us">Estado Unidos</option>
                    <option val="cn">Canada</option>
                </select>
            </div>
            <span class="errorMsg" id="countryErrorMessage" hidden>Por favor escoja un país </span>

            <div>
                <label class="input">Genero:</label>
                <div class="input">
                    <!-- <label class="form-check-label"> -->
                        <input type="radio" name="gender"> Hombre
                    <!-- </label> -->
                </div>
                <div class="input">
                    <label class="form-check-label">
                        <input type="radio" name="gender"> Mujer
                    </label>
                </div>
                <span class="errorMsg" id="genderErrorMessage" hidden>Por favor escoja un genero</span>

            </div>
            
            
            <div class="input">
                <input id="sumbitBtn" type="submit" name="submit">
            </div>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="./src/index.js" async defer></script>
    </body>
</html>
